# python -m venv .venv
#
# Linux -  Mac systems
#     source .venv/bin/activate
# Windows system using git bash or WSL:
#     source .venv/Scripts/activate
#
# pip install --no-cache-dir -r requirements.txt

cookiecutter==2.1.1